@font-face {
  font-family: "Raleway"; 
  src: url("../fonts/Raleway.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 800; 
} 

header {
	display: flex;
	align-items: space-beetwen;
	height: !important 150px;
	border: 1px solid green;
}

#chatter {
	font-family: "Raleway";
	margin: 0;
	font-size: 100px;
	
}

.head-left {
	width: 80%;
	border: 1px solid red;
	display: flex;
	height: 100%;
	align-items: center;
}

.head-left-a{
	height: 100%;
}

.head-right {
	display: flex;
	justify-content: center;
	align-content: space-around;
}

#avatar{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 1px solid red;
}

.head-right-p {}